.location_value {
	color: red;
}
#title{
	font-size: 48px;
}

#btnMyLocation, #btnResetLocation {
	margin:0px;
	width:calc(50% - 2px);
	padding: 12px 0px;
}

table > tbody > tr > td.field_name {
	text-align: left;
	vertical-align: middle;
}

table > tbody > tr > td.location_value {
    width: 200px;
    vertical-align: middle;
}
table > tbody > tr > td:nth-child(3){
	text-align: right;
}
table.empty .help {
    visibility: hidden;
}
#mainContent{
	padding-top: 40px;
}
#map-canvas{
	height:calc(100vh - 52px);
	margin:0px;
	border-left: 2px solid #485563;
}
table, .table {
  font-size: 14px;
}
menu{
	-webkit-padding-start: 0px;
}
.navbar{
	margin-bottom: 0px !important;
	padding: 6px 0px;
}
.last{
	padding:0px;
	background-color: #485563;
	height:calc(100vh - 52px);
}
#website-value{
	width: calc(100% - 123px);
  	display: inline-block;
  	height: 49px;
}
#btnWebsiteLocation{
	display:inline-block;
	border: 0px;
	margin-top: -3px;
}
button:focus{
	outline: 0px !important;
}
#main{
	padding-top: 40px;
	padding-bottom: 40px;
}

/* error messages */
span[data-show="add-url"],
span[data-show="valid-url"]{
	color: red;
	position: absolute;
	width: calc(100% - 34px);
	margin-top: -25px;
	left: 15px;
	display:none;
}
span[ng-message="patternValidator"]{
	color: red;
	position: absolute;
	width: calc(100% - 34px);
	margin-top: -25px;
	left: 15px;
}