<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
		<script src="js/libs/angular.min.js" type="text/javascript"></script>
		<script src="js/libs/angular-messages.min.js" type="text/javascript"></script>
		<script src="js/libs/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="js/libs/handlebars-v1.3.0.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/app.js" type="text/javascript"></script>
		<script src="js/geolocation.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/geolocation.css">
	</head>
	<body>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body" id="alert-body">
					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<a class="navbar-brand">GeoLocation Test</a>
			</div>
		</nav>

			<div class="col-md-4">
				<section id="mainContent"> </section>
				
				<section id="main">
					<form ng-app="app" name="urlform">
						<input class="form-control" id="website-value" name="urlval" type="text" ng-model="urlval" urlval placeholder="Website URL"/>
						<span ng-messages="urlform.urlval.$error">
							<span ng-message="patternValidator">* Do not include http or https</span>
							<span data-show="add-url">* Please add a website url</span>
							<span data-show="valid-url">* Please add a correct website url</span>
						</span>
						<button class="btn btn-primary btn-lg" onclick="getWebSiteLocation()" id="btnWebsiteLocation">Location</button>
					</form>
				</section>
			</div>	
			<script type="text/x-handlebars" id="index">
					<section id="geoLocationContainer">

					</section>
					<menu>
						<button class="btn btn-primary btn-lg" onclick="getMyLocation()" id="btnMyLocation">My location</button>
						<button class="btn btn-primary btn-lg" onclick="resetLocationDetails()" id="btnResetLocation">Reset location</button>
					</menu>
			</script>

			<script type="text/x-handlebars" id="locationInfo">
				<h4>Estimated location</h4>

				<table align="center" class="empty table table-striped">
					<tbody>
						<tr>
							<td class="field_name">IP</td>
							<td id="location_query" class="location_value">{{query}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Country</td>
							<td id="location_country" class="location_value">{{country}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Region</td>
							<td id="location_regionName" class="location_value">{{regionName}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">City</td>
							<td id="location_city" class="location_value">{{city}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Time Zone</td>
							<td id="location_timezone" class="location_value">{{timezone}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Latitude</td>
							<td id="location_lat" class="location_value">{{lat}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Longitude</td>
							<td id="location_lon" class="location_value">{{lon}}</td>
							<td><button data-toggle="modal" data-target="#myModal" class="help btn btn-info">?</button></td>
						</tr>
					</tbody>
				</table>
			</script>
			<div class="col-md-8 last">
				<div id="map-canvas"></div>
			</div>

	</body>
</html>
